* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: "Nunito", sans-serif;
}
header {
    background-color: rgb(255, 255, 255, 0.5);
    height: 70px;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0 4px 10px black;
}
header, ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    list-style: none;
}
li a {
    text-decoration: none;
    color: black;
}
a {
    text-decoration: none;
}
ul {
    padding-top: 15px;
    width: 500px;
    font-size: 20px;
}
header img.heart {
    width: 50px;
}
header img.basket {
    width: 80px;

}
header img.logo {
    width: 200px;

}
header input.search {
    width: 300px;
    height: 30px;
}